:root {
    --primary-color: #56b665;
}

.header-main {
    height: 70px;
    top: 20px;
}
.header-main .header-inner {
    background-color: white;
    border-radius: 5px;
}
#logo img {
    max-height: 100px;
}

#logo {
    width: 200px;
}

.header-bottom {
    min-height: 10px;
}

.header-top {
    min-height: 30px;
}

.has-transparent + .page-title:first-of-type,
.has-transparent + #main > .page-title,
.has-transparent + #main > div > .page-title,
.has-transparent + #main .page-header-wrapper:first-of-type .page-title {
    padding-top: 130px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important;
    top: 0;
}

.stuck #logo img {
    max-height: 70px !important;
}

.header-bg-color,
.header-wrapper {
    background-color: #ffffff;
}

.header-bottom {
    background-color: #f1f1f1;
}

.stuck .header-main .nav > li > a {
    line-height: 50px;
}

@media (max-width: 549px) {
    .header-main {
        height: 70px;
    }
    #logo img {
        max-height: 70px;
    }
}

@media (max-width: 768px) {
    .header-main .header-inner {
        border-radius: 0;
    }
}

.nav-dropdown {
    border-radius: 3px;
}

.nav-dropdown {
    font-size: 90%;
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline > li.active > a,
.nav-outline > li.active > a,
.cart-icon strong,
[data-color="primary"],
.is-outline.primary {
    color: #56b665;
}

/* Color !important */
[data-text-color="primary"] {
    color: #56b665 !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #56b665;
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item > a:after,
.nav-pagination > li > .current,
.nav-pagination > li > span:hover,
.nav-pagination > li > a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li > a:hover,
.nav-dropdown.nav-dropdown-bold > li > a:hover,
.nav-dropdown-bold.dark .nav-column li > a:hover,
.nav-dropdown.nav-dropdown-bold.dark > li > a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type="submit"]:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box > li > a:hover,
.nav-box > li.active > a,
.nav-pills > li.active > a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom > li > a:before,
.nav-line-grow > li > a:before,
.nav-line > li > a:before,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type="submit"].primary,
input[type="submit"].primary,
input[type="reset"].button,
input[type="button"].primary,
.badge-inner {
    background-color: #56b665;
}

/* Border */
.nav-vertical.nav-tabs > li.active > a,
.scroll-to-bullets a.active,
.nav-pagination > li > .current,
.nav-pagination > li > span:hover,
.nav-pagination > li > a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #56b665;
}

.nav-tabs > li.active > a {
    border-top-color: #56b665;
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #56b665;
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #56b665;
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #56b665;
}

/* Background Color */
[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button {
    background-color: #ffffff;
}

[data-text-bg="secondary"] {
    background-color: #ffffff;
}

/* Color */
.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #ffffff;
}

/* Color !important */
[data-text-color="secondary"] {
    color: #ffffff !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #ffffff;
}

body {
    font-family: "SFUIText";
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
}

.nav > li > a {
    font-family: "SFUIText";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical > li > a {
    font-family: "SFUIText";
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #555555;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 300px !important;
        width: 300px !important;
    }
}

.footer-2 {
    background-color: #777777;
}

.label-new.menu-item > a:after {
    content: "New";
}

.label-hot.menu-item > a:after {
    content: "Hot";
}

.label-sale.menu-item > a:after {
    content: "Sale";
}

.label-popular.menu-item > a:after {
    content: "Popular";
}

.slick-next {
    width: 30px !important;
    height: 60px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    color: #707070;
    top: 40%;
    transition: 0.3s;
    outline: none;
    opacity: 0.9;
    position: absolute;
    padding-left: 7px;
    border-radius: 100px 0 0 100px;
    right: 0;
    cursor: pointer;
}

.slick-prev {
    width: 30px !important;
    height: 60px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    color: #707070;
    top: 40%;
    transition: 0.3s;
    outline: none;
    opacity: 0.9;
    position: absolute;
    padding-right: 7px;
    border-radius: 0 100px 100px 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
.slick-disabled {
    visibility: hidden;
}
.tcbanner-text {
    white-space: normal;
}
/*  ----------------------------------------------------------------------------
    Flex Block 1
*/
.td_module_flex_1,
.td_module_flex_3,
.td_module_flex_4,
.td_module_flex_5 {
    display: inline-block;
    width: 100%;
    padding-bottom: 0;
}
.td_module_flex_1 .td-module-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.td_module_flex_1 .td-module-container:before,
.td_module_flex_3 .td-module-container:before,
.td_module_flex_4 .td-module-container:before,
.td_module_flex_5 .td-module-container:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}
.td_module_flex_1 .td-image-wrap,
.td_module_flex_3 .td-image-wrap,
.td_module_flex_4 .td-image-wrap,
.td_module_flex_5 .td-image-wrap {
    display: block;
    position: relative;
}
.td_module_flex_1 .td-image-container,
.td_module_flex_3 .td-image-container,
.td_module_flex_4 .td-image-container,
.td_module_flex_5 .td-image-container {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}
.td_module_flex_1 .td-module-thumb,
.td_module_flex_3 .td-module-thumb,
.td_module_flex_4 .td-module-thumb,
.td_module_flex_5 .td-module-thumb {
    margin-bottom: 0;
}
.td_module_flex_1 .td-module-meta-info,
.td_module_flex_3 .td-module-meta-info,
.td_module_flex_4 .td-module-meta-info,
.td_module_flex_5 .td-module-meta-info {
    margin-bottom: 0;
    z-index: 1;
    border: 0 solid #eaeaea;
    min-height: 0;
}
.td_module_flex_1 .td-author-photo,
.td_module_flex_3 .td-author-photo,
.td_module_flex_4 .td-author-photo,
.td_module_flex_5 .td-author-photo {
    display: inline-block;
    vertical-align: middle;
}
.td_module_flex_1 .td-thumb-css,
.td_module_flex_3 .td-thumb-css,
.td_module_flex_4 .td-thumb-css,
.td_module_flex_5 .td-thumb-css {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
}
.td_module_flex_1 .td-category-pos-image .td-post-category,
.td_module_flex_3 .td-category-pos-image .td-post-category,
.td_module_flex_4 .td-category-pos-image .td-post-category,
.td_module_flex_5 .td-category-pos-image .td-post-category {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}
.td_module_flex_1 .td-excerpt,
.td_module_flex_3 .td-excerpt,
.td_module_flex_4 .td-excerpt,
.td_module_flex_5 .td-excerpt {
    margin: 20px 0 0;
    line-height: 21px;
}
.td_module_flex_1 .td-read-more,
.td_module_flex_3 .td-read-more,
.td_module_flex_4 .td-read-more,
.td_module_flex_5 .td-read-more {
    margin: 20px 0 0;
}
.td-mc1-wrap:after,
.td-mc1-wrap .td_module_wrap:after {
    content: "";
    display: table;
    clear: both;
}
.td_module_flex_1 .td-image-wrap,
.td_module_flex_5 .td-image-wrap {
    padding-bottom: 50%;
}
.td_module_flex_1 .td-module-meta-info,
.td_module_flex_5 .td-module-meta-info {
    padding: 13px 0 0 0;
}
.td_module_flex_3 .td-image-wrap,
.td_module_flex_4 .td-image-wrap {
    padding-bottom: 70%;
}
.td_module_flex_3 .td-module-meta-info,
.td_module_flex_4 .td-module-meta-info {
    padding: 0 0 0 5px;
}
.td_module_flex_3 .entry-title,
.td_module_flex_4 .entry-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    /* responsive portrait tablet */
}
@media (min-width: 768px) and (max-width: 1018px) {
    .td_module_flex_3 .entry-title,
    .td_module_flex_4 .entry-title {
        font-size: 12px;
        line-height: 18px;
    }
}
/* responsive landscape tablet */
@media (min-width: 1019px) and (max-width: 1140px) {
    .td_module_flex_3 .entry-title {
        font-size: 12px;
        line-height: 18px;
    }
}
.td_flex_block.td_with_ajax_pagination,
.td_flex_block.td_with_ajax_pagination .td_block_inner {
    overflow: initial;
}
.td_flex_block.td_with_ajax_pagination .td_block_inner {
    height: auto !important;
}
/*  ----------------------------------------------------------------------------
    Flex Block 3 & 4
*/
.td_flex_block_3 .td_module_column,
.td_flex_block_4 .td_module_column {
    float: left;
}
.td_flex_block_3 .td_module_flex_1,
.td_flex_block_4 .td_module_flex_1 {
    /* responsive portrait tablet */
}
@media (min-width: 768px) and (max-width: 1018px) {
    .td_flex_block_3 .td_module_flex_1 .entry-title,
    .td_flex_block_4 .td_module_flex_1 .entry-title {
        font-size: 17px;
        line-height: 22px;
    }
}
.td_flex_block_3 .td_module_flex_1 .td-excerpt,
.td_flex_block_4 .td_module_flex_1 .td-excerpt {
    margin-top: 16px;
}
.td_flex_block_3 .td_module_flex_3 .td-module-container,
.td_flex_block_4 .td_module_flex_3 .td-module-container {
    flex-direction: row;
}
.td_flex_block_3 .td-read-more,
.td_flex_block_4 .td-read-more {
    display: none;
}
/*  ----------------------------------------------------------------------------
    Flex Block 3
*/
.td_flex_block_3 .td_module_flex_1 .td-image-wrap {
    padding-bottom: 72%;
}
/*  ----------------------------------------------------------------------------
    Flex Block 4
*/
.td_flex_block_4 .td_module_flex_4 {
    /* responsive landscape tablet */
}
.td_flex_block_4 .td_module_flex_4 .td-module-container {
    flex-direction: row;
}
@media (min-width: 1019px) and (max-width: 1140px) {
    .td_flex_block_4 .td_module_flex_4 .entry-title {
        font-size: 12px;
        line-height: 18px;
    }
}
/* custom css */
@media (min-width: 767px) {
    .td_module_wrap {
        width: 100%;
        float: left;
    }
}

.td_module_wrap {
    padding-left: 24px;
    padding-right: 24px;
}
.td_block_inner {
    margin-left: -24px;
    margin-right: -24px;
}

.td_module_flex_1 {
    padding-bottom: 10.5px;
    margin-bottom: 10.5px;
}
.td_module_flex_1 .td-module-container:before {
    bottom: -10.5px;
}

.td_module_flex_4 {
    padding-bottom: 10.5px;
    margin-bottom: 10.5px;
}
.td_module_flex_4 .td-module-container:before {
    bottom: -10.5px;
}
.td_module_wrap:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.td_module_wrap:last-child .td-module-container:before {
    display: none;
}

.td_module_flex_1 .td-module-container:before {
    border-width: 0 0 1px 0;
    border-style: none;
    border-color: #eaeaea;
}

.td_module_flex_4 .td-module-container:before {
    border-width: 0 0 1px 0;
    border-style: none;
    border-color: #eaeaea;
}

.td_module_flex_1 .td-module-container:before {
    border-color: #eaeaea;
}

.td_module_flex_4 .td-module-container:before {
    border-color: #eaeaea;
}

.td_module_flex_1 .entry-thumb {
    background-position: center 50%;
}

.td_module_flex_4 .entry-thumb {
    background-position: center 50%;
}

.td_module_flex_4 .td-image-container {
    flex: 0 0 25%;
    width: 25%;
}

.td_module_flex_1 .td-image-wrap {
    padding-bottom: 68%;
}
.ie10 .td_module_flex_1 .td-image-container,
.ie11 .td_module_flex_1 .td-image-container {
    flex: 0 0 auto;
}

.td_module_flex_4 .td-image-wrap {
    padding-bottom: 75%;
}
.ie10 .td_module_flex_4 .td-image-container,
.ie11 .td_module_flex_4 .td-image-container {
    flex: 0 0 auto;
}

.td_module_flex_1 .td-module-container {
    align-items: image;
}

.td_module_flex_1 .td-module-meta-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.td_module_flex_1 .td-module-meta-info {
    padding: 0 17px 17px;
}

.td_module_flex_1 .td-author-photo .avatar {
    width: 20px;
    height: 20px;
}

.td_module_flex_4 .td-author-photo .avatar {
    width: 20px;
    height: 20px;
}

.td_module_flex_1 .td-author-photo .avatar {
    margin-right: 6px;
}

.td_module_flex_4 .td-author-photo .avatar {
    margin-right: 6px;
}

.td_module_flex_1 .td-author-photo .avatar {
    border-radius: 50%;
}

.td_module_flex_4 .td-author-photo .avatar {
    border-radius: 50%;
}

.td_module_flex_1 .td-post-category {
    display: none;
}

.td_module_flex_4 .td-post-category {
    display: none;
}

.td_module_flex_1 .td-excerpt {
    display: none;
}

.td_module_flex_4 .td-excerpt {
    display: none;
}

.td_module_flex_1 .td-post-author-name {
    display: inline-block;
}

.td_module_flex_4 .td-post-author-name {
    display: none;
}

.td_module_flex_1 .td-post-date,
.td_module_flex_1 .td-post-author-name span {
    display: inline-block;
}

.td_module_flex_4 .td-post-date,
.td_module_flex_4 .td-post-author-name span {
    display: inline-block;
}

.td_module_flex_1 .entry-review-stars {
    display: inline-block;
}

.td_module_flex_4 .entry-review-stars {
    display: inline-block;
}

.td_module_flex_1 .td-module-comments {
    display: none;
}

.td_module_flex_4 .td-module-comments {
    display: none;
}

.td_module_flex_1 .td-module-thumb a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.td_module_flex_1 .td-module-title a {
    color: #ffffff;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px !important;
    height: 40px;
}

.td_module_flex_1 .td-post-author-name a {
    color: #ffffff;
}

.td_module_flex_1 .entry-title {
    font-size: 17px !important;
    line-height: 1.1 !important;
    font-weight: 700 !important;
}

.td_module_flex_4 .entry-title {
    font-size: 13px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px !important;
    height: 40px;
}

/* CSS product */
.item-product-grid-style1 .product-thumb {
    border-radius: 6px;
    border: 1px solid #f5f5f5;
}
.product-thumb {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}
.product-thumb-link {
    display: block;
    position: relative;
    overflow: hidden;
}
.product-thumb-link img {
    width: 100%;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}
.product-thumb-link::before {
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}
.product-thumb:hover .product-thumb-link::before {
    opacity: 1;
}
.product-thumb:hover .zoom-thumb img {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
}
.zoomout-thumb img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(3);
    -webkit-transform: scale(3);
}
.product-thumb:hover .zoomout-thumb img:last-child {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}
.rotate-thumb img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
}
.product-thumb:hover .rotate-thumb img:last-child {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    opacity: 1;
}
.product-thumb:hover .rotate-thumb img:first-child {
    transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    opacity: 0;
}
.translate-thumb img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.product-thumb:hover .translate-thumb img:last-child {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
}
.product-thumb:hover .translate-thumb img:first-child {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 0;
}
.item-product-grid-style1 .product-info {
    padding-top: 25px;
}
.item-product-grid-style1 .product-title,
.item-product-grid-style2 .product-title {
    margin-bottom: 10px;
}
.extra-link-hover1 a {
    color: #2a3640;
    font-size: 20px;
    padding: 10px;
    background: #fff;
    padding: 10px !important;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
.item-product-grid-style1 .extra-link-hover1,
.item-product-grid-style2 .extra-link-hover1 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    top: 0;
    display: inline-block;
    margin: auto;
    height: 46px;
    z-index: 1;
}
.item-product-grid-style1 .product-thumb {
    border-radius: 6px;
    border: 1px solid #f5f5f5;
}
.item-product-grid-style2 .product-thumb {
    border-radius: 6px 6px 0px 0px;
}
.item-product-grid-style1:hover .product-thumb-link::before,
.item-product-grid-style2:hover .product-thumb-link::before {
    opacity: 1;
}
.item-product-grid-style1 .extra-link-hover1 a,
.item-product-grid-style2 .extra-link-hover1 a {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    opacity: 0;
}
.item-product-grid-style1:hover .extra-link-hover1 a,
.item-product-grid-style2:hover .extra-link-hover1 a {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
}
.item-product-grid-style1 .extra-link-hover1 a:nth-child(2n),
.item-product-grid-style2 .extra-link-hover1 a:nth-child(2n) {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
}
.item-product-grid-style1:hover .extra-link-hover1 a,
.item-product-grid-style2:hover .extra-link-hover1 a {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
}
.row_2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px !important;
    height: 40px;
}
.chi_nhanh ul {
    list-style: none;
    overflow: auto;
}
.chi_nhanh li {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 13px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-left: 4px solid #99CC66;
}
.chi_nhanh li:hover {
    color: #fff;
    background-color: #009a4e;
}
