:root {
    --primary-color: #56b665;
}

.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1230px;
}

.row.row-collapse {
    max-width: 1200px;
}

.row.row-small {
    max-width: 1222.5px;
}

.row.row-large {
    max-width: 1260px;
}

body.framed,
body.framed header,
body.framed .header-wrapper,
body.boxed,
body.boxed header,
body.boxed .header-wrapper,
body.boxed .is-sticky-section {
    max-width: 1260px;
}

.header-main {
    height: 70px;
    top: 20px;
}
.header-main .header-inner {
    background-color: white;
    border-radius: 5px;
}
#logo img {
    max-height: 100px;
}

#logo {
    width: 200px;
}

.header-bottom {
    min-height: 10px;
}

.header-top {
    min-height: 30px;
}

.has-transparent + .page-title:first-of-type,
.has-transparent + #main > .page-title,
.has-transparent + #main > div > .page-title,
.has-transparent + #main .page-header-wrapper:first-of-type .page-title {
    padding-top: 130px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important;
    top: 0;
}

.stuck #logo img {
    max-height: 70px !important;
}

.header-bg-color,
.header-wrapper {
    background-color: #ffffff;
}

.header-bottom {
    background-color: #f1f1f1;
}


.stuck .header-main .nav > li > a {
    line-height: 50px;
}

@media (max-width: 549px) {
    .header-main {
        height: 70px;
    }
    #logo img {
        max-height: 70px;
    }
}

@media (max-width:768px) {
    .header-main .header-inner {
        border-radius: 0;
    }
}

.nav-dropdown {
    border-radius: 3px;
}

.nav-dropdown {
    font-size: 90%;
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline > li.active > a,
.nav-outline > li.active > a,
.cart-icon strong,
[data-color="primary"],
.is-outline.primary {
    color: #56b665;
}

/* Color !important */
[data-text-color="primary"] {
    color: #56b665 !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #56b665;
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item > a:after,
.nav-pagination > li > .current,
.nav-pagination > li > span:hover,
.nav-pagination > li > a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li > a:hover,
.nav-dropdown.nav-dropdown-bold > li > a:hover,
.nav-dropdown-bold.dark .nav-column li > a:hover,
.nav-dropdown.nav-dropdown-bold.dark > li > a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type="submit"]:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box > li > a:hover,
.nav-box > li.active > a,
.nav-pills > li.active > a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom > li > a:before,
.nav-line-grow > li > a:before,
.nav-line > li > a:before,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type="submit"].primary,
input[type="submit"].primary,
input[type="reset"].button,
input[type="button"].primary,
.badge-inner {
    background-color: #56b665;
}

/* Border */
.nav-vertical.nav-tabs > li.active > a,
.scroll-to-bullets a.active,
.nav-pagination > li > .current,
.nav-pagination > li > span:hover,
.nav-pagination > li > a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #56b665;
}

.nav-tabs > li.active > a {
    border-top-color: #56b665;
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #56b665;
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #56b665;
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #56b665;
}

/* Background Color */
[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button {
    background-color: #ffffff;
}

[data-text-bg="secondary"] {
    background-color: #ffffff;
}

/* Color */
.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #ffffff;
}

/* Color !important */
[data-text-color="secondary"] {
    color: #ffffff !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #ffffff;
}

body {
    font-family: "SFUIText";
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
}

.nav > li > a {
    font-family: "SFUIText";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical > li > a {
    font-family: "SFUIText";
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #555555;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 300px !important;
        width: 300px !important;
    }
}

.footer-2 {
    background-color: #777777;
}

.label-new.menu-item > a:after {
    content: "New";
}

.label-hot.menu-item > a:after {
    content: "Hot";
}

.label-sale.menu-item > a:after {
    content: "Sale";
}

.label-popular.menu-item > a:after {
    content: "Popular";
}
